---
import Layout from '../layouts/Layout.astro';
import InputForm from "../components/InputForm.astro";
---

<Layout title="Budget Planner">
	<main>
		<h1>Budget Calendar</h1>
		<InputForm/>
	</main>
</Layout>
