---
import {db, Transactions} from 'astro:db';
const transactions = await db.select().from(Transactions);
---

<form action="/api/create_transaction" method="post">
    <label>
        Where does it come from?
        <input type="text" placeholder="Source" name="payee" required/>
    </label>
    <label>
        How much is it?
        <input type="number" step="any" placeholder="Value" name="amount" required/>
    </label>
    <label>
        Is it an Income or an Expense?
        <select name="type" required>
            <option value="expense" selected>Expense</option>
            <option value="income">Income</option>
        </select>
    </label>
    <label>
        When did it occur?
        <input type="date" name="date" required/>
    </label>

    <label>
        Does it recur?
        <input type="checkbox" name="recurring"/>
    </label>

    <button type="submit">Add</button>
</form>

{transactions.map(({ payee, amount }) => (
    <article>
        <p>{payee}</p>
        <p>{amount}</p>
    </article>
))}